.main-menu ul {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 1rem;
    justify-content: flex-end;
    
}

.main-menu a {
    text-decoration: none;
}

.container {
    display: flex;
    background-color: #7fd2dd;
}

.info {
    width: 50%;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: 120px;  
}

.info h3 {
    padding: 0, 10px, 30px, 30px;
}

.image {
    width: 50%;
    background-image: url(online-shopping.jpg);
    height: 500px;
    background-size: contain;
    background-repeat:  no-repeat;
    
}

.start-btn {
    border-radius: 20px;
    border: none;
    background: #007997;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
}